<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" http-equiv="Content-Type" content="text/html"/>
    <title>Knight List</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"/>

    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">

    Gold in the vault: <span th:text="${playerInformation.getGoldAmount()}"/>

    <a th:href="${'/checkQuests'}">Check quests</a>

        <table class="table">
            <thead>
            <tr>
                <td>Name of the knight</td>
                <td>Level: </td>
                <td>Quest: </td>
                <td></td>
            </tr>
            </thead>
            <tbody th:each="knight : ${knights}">
                <tr>
                    <td th:text="${knight.getName()}"></td>
                    <td th:text="${knight.getLevel()}"></td>
                    <td>
                        <span th:if="${knight.quest==null}">Knight has no active quest
                            <a th:href="${'/assignQuest?knightId='+knight.id}"/>Assign quest to a knight
                        </span>
                        <span th:if="${knight.quest!=null}" th:text="${knight.quest.description}"/>
                    </td>
                    <td><a th:href="${'/knight?id='+knight.id}"/>Check out knight</td>
                    <td><a th:href="${'/knight/delete/'+knight.id}"/>Delete knight</td>
                </tr>
            </tbody>
        </table>
    <div class="row">
        <a href="/newknight">Recruit new Knight</a>
    </div>

    <div class="row">
        <form action="#" th:action="@{/logout}" method="post">
            <input type="submit" value="Logout">
        </form>
    </div>
</div>
</body>
</html>