<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add knight</title>
    <meta charset="UTF-8" http-equiv="Content-Type" content="text/html"/>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"/>

    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">

    Current time: <span th:text="${timeComponent.getTime()}"/>
    Gold in the vault: <span th:text="${playerInformation.getGoldAmount()}"/>

    <p th:text="${knight.getName()}"></p>
    <p th:text="${knight.getAge()}"></p>
    <p th:text="${knight.getLevel()}"></p>
</div>
</body>
</html>